body
{
    font-family: Arial;
    text-align: center;

}


table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 5px;
    border: 1px solid black;
}

.colortext {
    color: red;
}

.table-name {
    text-align: left;
}

.a-button {
	text-decoration: none;
}

.hover {
	font-weight: bold;
}

.active {
	text-decoration: underline;
}

.SelectAndPager{
	padding: 5px;
}

.is_tourist {
    margin-left: 5px;
}

.is_tourist_radio {
    margin-left: 5px;
}

.inline {
	display:inline;

}

.input {

    padding: 10px;

}
.padding {
    padding: 10px;
}

[class*=inputs_] {

    border:1px solid brown;
    width: 30%;
    margin: 5px auto;
}

.p-error {

        color: red;
}

.button-center {
    width: 30%;
    margin-left: 30%;
    margin-right:30%;
}
